@charset "UTF-8";
/* 초기화/공통 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {
margin: 0; padding: 0;
}

/* 리스트초기화 */
ul, ol {
	list-style-type: none;
}

a:link    {color: #000000; text-decoration: none;}     /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #000000; text-decoration: overline;}      /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #000000; text-decoration: underline;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #000000; text-decoration: line-through;} /* 클릭했을때 빨간색 중앙선*/ 

/* clearfix*/
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after{display: block; content: ""; line-height: 0;}
.clearfix:after{clear: both;}

.txt-bold{
	font-weight: bold;
}

/* 레이아웃 */
#wrap {
	margin: 0px auto;
	width: 1000px;
}

#wrap>#header {
 	padding: 10px 0px;
	border-bottom: 1px solid #bfbfbf;
	/*background-color: #0000ff; */
}

#wrap>#nav {
	/* background-color: #00ff00; */
	border-bottom: 1px solid #bfbfbf;
	
}

#wrap>#full-contents {
	padding: 40px 20px 40px 20px;
}

#wrap>#footer {
	padding: 10px 0;
	background-color: #dddddd;
}

/* 헤더 로고,회원가입 */
#header h1 {
	font-size: 35px;
	color: #79b30b;
	font-weight: bold;
	float: left;
}

#header ul {
	margin: 15px 0 0 0;
	float: right;
}

#header li {
	margin: 0px 0px 0px 20px;
	float: left;
	font-size: 13px;
}

/* 네비 메뉴 */
#nav {
	padding: 10px 0px 10px 0;
}


#nav li {
	float: left;
	width: 250px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}


/* 푸터 */
#footer div {
	text-align: center;
	font-size: 12px;
}


#img-profile{
	margin: 0 30px 0 0 ;
	width: 400px;
	float: left;
}

#greetings{
	float: left;
}





